.lineEdit {
	height: 1.5rem;
	border: solid 1px var(--color-bg-highlight);
	background-color: var(--color-bg);
	border-radius: 5px;
	color: var(--color-text);
	--a-pressable: 0.1s background-color ease-out;
	animation: var(--a-pressable);
}
