@reference "#main.css";

.lineEdit {
	position: relative;
	border: solid 1px var(--color-border-alternate);
	border-radius: 5px;
	background-color: var(--color-bg);
	&.disabled {
		border-color: var(--color-border-disabled);
		color: var(--color-text-disabled);
		background-color: var(--color-bg-disabled);
	}

	input {
		width: 100%;
		box-sizing: border-box !important;
		padding-left: var(--gap);
		padding-right: var(--internal-children-width);
		line-height: var(--button-height);
		color: var(--color-text);
	}

	.placeholder {
		position: absolute;
		left: var(--gap);
		line-height: var(--button-height);
		color: var(--color-text-subtle);
	}
}
@layer base {
	.lineEdit {
		width: var(--button-width);
	}
}

.internalChildren {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 var(--gap);
	line-height: var(--button-height);
}
