@use "@/css/mixins" as *;
@reference "#main.css";

.comboboxInput {
	border: solid 1px var(--color-border);
	border-radius: var(--border-radius);
	background-color: var(--color-bg);
	color: var(--color-text);
	padding: var(--gap-s);
	padding-left: var(--gap);

	color: white;
	&[data-focus] {
		text-align: left;
		color: var(--color-text);
		background-color: var(--color-bg-root);
	}

	&:disabled {
		color: var(--color-text-disabled);
		background-color: var(--color-bg-disabled);
		border-color: var(--color-border-disabled);
	}

	@include transitionFlashBg('&.transitionSubmitted');
}
.comboboxOptions {
	border: solid 1px var(--color-border);
	--anchor-gap: var(--gap-s);
	--anchor-padding: var(--gap-s);
	border-radius: var(--border-radius);
	width: var(--input-width);
	background-color: var(--color-bg);

	&:empty {
		opacity: 0;
	}

	[role=option] {
		width: 100%;
		padding: var(--gap-s);

		&[data-focus], &[data-hover] {
			background-color: var(--color-bg-active);
		}
	}
}

.comboboxButton {
	flex-grow: 1;
	height: 27px;
	display: flex;
	gap: var(--gap-s);
	flex-flow: row nowrap;

	button {
		height: 27px;
	}

	@include transitionFlash('&.transitionSubmitted');

	> :first-child {
		flex-grow: 1;
	}
}


