@use '@/css/mixins' as *;
@reference "#main.css";

.button {
	@include pressable;
	padding: 0 calc(var(--spacing) * 3);
	min-height: var(--button-height);

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	gap: var(--gap);
}
