
@mixin unbutton {
	paddding: initial;
	border: initial;
	color: var(--color-text);
	background-color: transparent;
	font-family: var(--font);
}

.treeItem {
	@include unbutton;

	.treeItemContent {
		height: 100%;
		display: flex;
		flex-flow: row nowrap;
		transition: opacity 0.5s;
		align-items: center;
	}

	&.selectable {
		border: var(--color-border);

		&:hover {
			background-color: var(--color-bg-hover);
		}

		&:active, &.active {
			background-color: var(--color-bg-active)
		}
	}
}
