.titleBarRoot {
	overflow: hidden;
	width: 100%;
	height: 26px;
	flex-shrink: 0;
	background-color: var(--color-bg-alternate);

	border-bottom: solid var(--border-width) var(--color-border-outer);
	border-bottom-width: calc(var(--border-width) * 2);
	white-space: pre;

	.titleBarContent {
		height: 100%;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		.draggable {
			height: 100%;
			display: flex;
			flex-flow: row nowrap;
			-webkit-app-region: drag;
			flex-grow: 1;
			flex-shrink: 1;
			overflow: hidden;
		}

		.gap {
			-webkit-app-region: drag;
			flex-shrink: 0;
			width: var(--gap);
			height: 100%;
		}

		.buttons {
			display: flex;
			flex-flow: row nowrap;
			justify-self: flex-end;
		}

		.icon {
			transition: filter 0.25s ease-out;
			height: 16px;
			filter:
				brightness(100%)
				drop-shadow(0 0 5px rgba(255, 255, 255, 0.0))
				drop-shadow(0 0 5px rgb(255, 179, 14, 0.0))
			;
			&:hover {
				filter:
					brightness(100%)
					drop-shadow(0 0 5px rgba(255, 255, 255, 0.0))
					drop-shadow(0 0 5px rgb(255, 179, 14, 0.5))
				;
			}
			&.active {
				transition: none;
				filter:
						brightness(200%)
						drop-shadow(0 0 5px rgba(255, 255, 255, 1.0))
						drop-shadow(0 4px 5px rgb(255, 179, 14, 1.0))
						drop-shadow(-3px 0 5px rgb(255, 179, 14, 1.0))
						drop-shadow(3px -2px 5px rgb(255, 255, 255, 1.0))
				;
			}
		}
	}
}
