@reference "#main.css";

.errorMsg {
	user-select: text;
	font-family: var(--font-monospace);
	font-size: 16px;
	color: var(--color-error);
	background-color: var(--color-bg);
	padding: var(--gap-m);
	white-space: pre-wrap;
	height: 100%;
	border: solid 1px var(--color-border-subtle);
	border-radius: 5px;
}

.errorContainer {
	padding: var(--gap-m);
	overflow: auto;
	max-height: 100%;
}
