@use 'sass:math';

.spinnerContainer {
	isolation: isolate;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

$size: 50px;
$weight: 5px;
$outlineWeight: 4px;

.spinnerBox {
	position: relative;
	width: $size;
	height: $size;
	isolation: isolate;
	filter: url(#salinear5) brightness(0.9) contrast(0.8);

	.spinnerBg {
		position: absolute;
		width: $size;
		height: $size;
		border-radius: 50%;
		border: solid $weight black;
	}

	.spinnerSegment {
		$extraWeight: 4px;
		$weight: $weight + $extraWeight;
		left: math.div(-$extraWeight, 2);
		top: math.div(-$extraWeight, 2);
		position: absolute;
		animation: spin 1s linear infinite;
		width: $size + $extraWeight;
		height: $size + $extraWeight;
		border-radius: 50%;
		border: solid $weight transparent;
		border-top: solid $weight white;
	}

	.outlineOuter {
		position: absolute;
		left: math.div(-$outlineWeight, 2);
		top: math.div(-$outlineWeight, 2);
		width: $size + $outlineWeight;
		height: $size + $outlineWeight;
		border-radius: 50%;
		border: solid $weight var(--color-text);
		z-index: -1;
	}

	.outlineInner {
		position: absolute;
		left: math.div($outlineWeight, 2);
		top: math.div($outlineWeight, 2);
		width: $size - $outlineWeight;
		height: $size - $outlineWeight;
		border-radius: 50%;
		border: solid $weight var(--color-text);
		z-index: -1;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg);
	}
}

