@reference "#main.css";


.container {
	@apply p-1;
	--color-scrollbar-thumb: var(--color-border-subtle);
	background-color: #44324433;
	max-height: 200px;
	border: solid 1px var(--color-border-subtle);
	border-radius: var(--border-radius);
}

.grid {
	display: grid;
	flex-basis: 0;
	flex-grow: 1;
	align-content: start;
	grid-template-columns: max-content max-content;
	gap: var(--gap) var(--gap-l);

	background-color: rgba(68, 50, 68, 0.2);
	border: solid 1px var(--color-border-subtle);
	padding: var(--gap);
	border-radius: var(--border-radius);

	&.root {
		overflow: auto;
	}
}
