@use '@/css/mixins' as *;

$height: 1.5rem;
$heightExpanded: 2.2rem;

.tabs {
	// page container
	display: flex;
	flex-flow: column nowrap;
	height: 100%;

	.tabBarOuter {
		// height dictates spacing from the content below
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		height: calc($heightExpanded + var(--gap-s));

		.tabBar {
			position: absolute;
			display: flex;
			flex-flow: row nowrap;
			gap: var(--gap-s);

			@include pressable('.tab');

			.tab {
				padding: 0 var(--gap-s);
				background-color: var(--color-root-bg);
				border: solid var(--border-width) var(--color-border);
				border-top: none;

				text-align: center;
				border-radius: 0 0 5px 5px;
				height: $height;

				display: flex;
				align-items: flex-end;

				--a-height: 0.25s height cubic-bezier(0, 0.05, 0, 1);
				transition: var(--a-height), var(--a-pressable);

				transform-origin: top;

				&.active {
					height: $heightExpanded;
					--a-height: 0.25s height cubic-bezier(0, 0.05, 0, 1);
				}

				&:active {
					background-color: var(--color-bg-pressed);
					transform: scale(0.95);
				}
			}
		}
	}

	.tabContent {
		height: 100%;
		padding: var(--gap);
	}
}
