@use '@/css/mixins' as *;

.tabs {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;

	.tabBarOuter {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		height: calc(1.5rem + var(--gap) / 2);

		.tabBar {
			position: absolute;
			display: flex;
			flex-flow: row nowrap;
			gap: calc(var(--gap) / 2);

			.tabOuter {
				height: 100%;
				display: flex;
				flex-flow: column nowrap;
				justify-content: flex-start;

				@include pressable('.tab');

				.tab {
					padding: 0 calc(var(--gap) / 2);
					background-color: var(--color-root-bg);
					border: solid var(--border-width) var(--color-border);
					border-top: none;

					text-align: center;
					border-radius: 0 0 5px 5px;
					height: 1.5rem;

					display: flex;
					align-items: flex-end;

					--a-height: 0.25s height cubic-bezier(0, 0.05, 0, 1);
					transition: var(--a-height), var(--a-pressable);
				}

				&.active .tab {
					height: 2.5rem;
					--a-height: 0.25s height cubic-bezier(0, 0.05, 0, 1);
				}
			}
		}
	}

	.tabContent {
		height: 100%;
		padding: var(--gap);
	}
}
