.select {
	background-color: var(--color-bg);
	color: var(--color-text);
	border-radius: var(--border-radius);
	min-height: 21px;

	&:not(:disabled) {
		padding-left: var(--spacing);
		border: solid 1px var(--color-border);
		&:not(:open) {
			&:hover {
				background-color: var(--color-bg-hover);
			}
			&:pressed {
				background-color: var(--color-bg-hover);
			}
		}
	}
	&:disabled {
		padding: 0 var(--spacing);
		appearance: none;
	}

	option {
		border-radius: 10px;
	}
}

.listboxButton {
	transition: scale 0.5s cubic-bezier(0, 0.1, 0, 1);
	&.transitionOpen {
		transition: none;
		transform: scale(0.5);
	}
	&.transitionSelected {
		transition: none;
		filter: brightness(500%);
	}
}
