@use '@/css/mixins' as *;

.select {
	background-color: var(--color-bg);
	color: var(--color-text);
	border-radius: var(--border-radius);
	min-height: 21px;

	&:not(:disabled) {
		padding-left: var(--spacing);
		border: solid 1px var(--color-border);
		&:not(:open) {
			&:hover {
				background-color: var(--color-bg-hover);
			}
			&:pressed {
				background-color: var(--color-bg-hover);
			}
		}
	}
	&:disabled {
		padding: 0 var(--spacing);
		appearance: none;
	}

	option {
		border-radius: 10px;
	}
}

.listboxButton {
	@include pressable(--t-pressable);
	@include transitionFlashBg('&.transitionSelected', --t-flash);
	transition: var(--t-pressable), var(--t-flash);
}
