.vbox {
	display: flex;
	flex-flow: column nowrap;
}

.hbox {
	display: flex;
	flex-flow: row nowrap;
}

.center {
	align-items: center;
}

.start {
	align-items: start;
}

.stretchbox {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: stretch;
}

.centerbox {
	display: inline-flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

.subtle {
	color: var(--color-text-subtle);
	font-style: italic;
}

.gap {
	gap: var(--gap);
}

.grow {
	flex-grow: 1;
	flex-basis: 0;
	min-width: 0;
}
