@use './classes';

@font-face {
	font-family: 'times-16';
	src: url('/times_bitmap_16.ttf');
}

:root {
	--color-text: #efefef;
	--color-text-hover: #f2f2f2;
	--color-text-active: var(--color-text-hover);

	--color-root-bg: #0D0D0D;

	--color-bg: #1C1C1C;
	--color-bg-active: #2C2C2C;
	--color-bg-hover: #3C3C3C;
	--color-bg-highlight: #7F7F7F;

	--color-border: #ffffff;
	--color-error: #f2334c;
	--color-warn: #f5e167;
	--color-scrollbar-thumb: var(--color-bg-active);
	color: var(--color-text);

	--gap: 0.5rem;
	--gap-s: 0.25rem;
	--gap-m: 0.5rem;
	--gap-l: 1rem;
	--border-width: 1px;
	--border-radius: 5px;

	--font: 'times-16', times, 'Times New Roman', serif;
	font-size: 16px;
}

.text {
	filter: url(#salinear5);
	-webkit-filter: url(#salinear5);
}

::selection {
	background-color: var(--color-bg-highlight);
	color: var(--color-text);
}

* {
	font-family: inherit;
	font-size: inherit;
	font-smooth: none;
}

body {
	color: var(--color-text);
	background-color: transparent;
	display: flex;
	height: 100vh;
	align-items: stretch;
	justify-content: stretch;
	user-select: none;
	overflow: hidden;
	font-family: var(--font);

	color: var(--color-text);
	background: var(--color-background);
}

div#root {
	background-color: var(--color-root-bg);
	border-radius: var(--border-radius);
	border: solid var(--border-width) var(--color-border);
	width: calc(100vw);
	height: calc(100vh);
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	flex-direction: column;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

ul {
	list-style: none;
}

hr {
	border: solid 1px var(--color-bg-highlight);
	border-style: solid none none none;


	filter: url(#salinear5);
	-webkit-filter: url(#salinear5);
}
