.backdrop {
	display: none;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	&.active {
		display: block;
		background-color: var(--color-root-bg);
		opacity: 0.5;
	}
	z-index: 10;
	padding-top: calc(var(--gap) * 4);
}

.modal {
	margin: 0 auto;
}
