.thumb {
	background-color: var(--color-scrollbar-thumb) !important;
	border-radius: 10px;
}

.viewParent {
	pointer-events: none;
	> * {
		pointer-events: auto;
	}
}

.view {
	padding-right: 3px;
	padding-bottom: 20px;
	pointer-events: none;
	> * {
		pointer-events: auto;
	}
}
