$iconSize: 16px;

.iconButton {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	border: none;
	border-radius: 5px;

	aspect-ratio: 1 / 1;

	align-self: center;
	background-color: transparent;
	color: var(--color-text);
	transition: 0.1s background-color ease-out;

	& * {
		height: min(100%, $iconSize);
	}

	&.big {
		height: 32px;
	}

	&:hover {
		background-color: var(--color-bg-hover)
	}
}
