@reference "#main.css";

.previewContainer {
	display: flex;
	overflow: hidden;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	will-change: transform;

	transition: opacity 0.25s cubic-bezier(0, 0.1, 0, 1);
}
.loading {
	opacity: 0;
	transition: none;
}
img.preview {
	max-width: none;
	position: absolute;
	object-fit: fill;
	background: url('@/images/transparent.png');
}
.points {
	position: absolute;
	> div {
		$size: 8px;
		$borderWidth: 1px;
		width: $size;
		height: $size;
		transform: translate(-50%, -50%);
		border-radius: $size;
		border: solid $borderWidth black;
		position: absolute;
		background-color: #ffffff;
		&:first-child {
			background-color: #00ff00;
		}
		// > div {
		// 	$centerSize: 2px;
		// 	position: absolute;
		// 	transform: translate(-50%, -50%);
		// 	left: calc($size/2 - $centerSize/2);
		// 	top: calc($size/2 - $centerSize/2);
		// 	width: $centerSize;
		// 	height: $centerSize;
		// 	background-color: white;
		// }
	}
}
canvas.collision {
	position: absolute;
	filter: brightness(50%) sepia(100%) saturate(10000%);
	opacity: 0.5;
}
