.vbox {
	display: flex;
	flex-flow: column nowrap;
}

.hbox {
	display: flex;
	flex-flow: row nowrap;
}

.stretchbox {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: stretch;
}

.gap {
	gap: var(--gap);
}

.grow {
	flex-grow: 1;
}
